.container {
  width: 400px;
  height: 485px;
  background: linear-gradient(153deg, rgb(116, 56, 216), rgb(18, 150, 170) 74%);
  color: white;
}

.main {
  width: 95%;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: x-large;
}

.instructions {
  font-size: 16px;
  margin-top: 10px;
}

.description {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.button {
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 73%;
}

.button::file-selector-button {
  border: none;
  background: rgb(38, 100, 242);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button::file-selector-button:hover {
  background: rgb(31, 82, 200);
}
